data/**/*,v
pub/**/*,v
pub/**/igp_*
pub/**/genpdf_*
pub/System/EmojiPlugin/bundle.js
pub/System/EmojiPlugin/bundle.js.gz
pub/System/EmojiPlugin/mapping.js
pub/System/EmojiPlugin/mapping.js.gz
pub/System/EmojiPlugin/node_modules/
pub/System/EmojiPlugin/package-lock.json

/EmojiPlugin.zip
/EmojiPlugin_installer
/EmojiPlugin_installer.pl
/EmojiPlugin.md5
/EmojiPlugin.sha1
/EmojiPlugin.tgz
/EmojiPlugin.txt
